{% extends "includes/base.html"%}
{% load static %}
{%block head-content%}
<link rel="stylesheet" href="{% static 'CDMP_APP/css/style_teto_gasto.css' %}">
{%endblock%}
{%block greater-data%}
<input type="radio" name="radio" id="mensal">
<label for="mensal">Registre o teto de cada mês</label>
<input type="radio" name="radio" id="anual">
<label for="anual">Registre um teto para todos os mêses</label>
<form id="por_mes" action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="enviar">
</form>
<form id="geral" method="POST">
    {% csrf_token %}
    <label for="geral">Geral:</label>
    <input id="geral" type="text" name="geral">
    <input type="submit" value="enviar">
</form>
{%endblock%}
{%block other-content%}
<script>

</script>
{%endblock%}