{%extends "includes/base.html"%}
{% load static %}
{%block head-content%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{% static 'CDMP_APP/js/grafico_por_mes.js' %}"></script>
  <script src="{% static 'CDMP_APP/js/grafico_economia_por_mes.js' %}"></script>
  <script src="{% static 'CDMP_APP/js/grafico_categoria_mes.js' %}"></script>
  <script src="{% static 'CDMP_APP/js/grafico_categoria_x_teto_categoria.js' %}"></script>
{%endblock%}
{%block greater-data%}
<div class="titulo">
    <h2>Dashboard</h2>
    <canvas width="70" height="70"></canvas>
</div>
<div class="user">
    
    <p>Bem-vindo {{cliente.nome}} a sua casa da moeda pessoal </p>
    <div style="width: 10px;"></div>
    <p style="font-size: 36px;">&#x1F4B0;</p>
</div>
<div class="dem1">
    <canvas id="chart" style="width: 100%;height: 100%;"></canvas>
</div>
<div class="dem2">
    <canvas id="chart_2" style="height: 100%;width: 100%;"></canvas>
</div>
<div class="dem3">
    <canvas id="chart_3"></canvas>
</div>
<div class="dem4">
    <canvas id="chart_4"></canvas>
</div>
{% include '../includes/table_despesas.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
{%endblock%}