{% extends "includes/base.html"%}
{% load static %}
{%block head-content%}

{%endblock%}
{%block greater-data%}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Enviar">
</form>
{%endblock%}
{%block other-content%}
<script>
    let valor = parseFloat(document.querySelector("span.valor").innerHTML)
    valor = valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
    document.querySelector("span.valor").innerHTML = valor    
</script>
{%endblock%}