{% extends "includes/base.html"%}
{% load static %}
{%block head-content%}
<link rel="stylesheet" href="{% static 'CDMP_APP/css/style_all_despesas.css' %}">
{%endblock%}
{%block greater-data%}
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Pesquisar">
</form>
{% if despesas%}
    {% for despesa in despesas %}
    <div class="info-meta">
        <p class="nome-despesa">Descrição: {{despesa.descricao}}</p>
        <p>Valor despesa: <span class="valor">{{despesa.valor}}</span></p>
        <p>Data despesa: <span class="data">{{despesa.data_despesa|date:"j/m/Y"}}</span></p>
        <p>Categoria: <span class="data">{{despesa.categoria}}</span></p>
        <div class="edit-despesa">
            <button type="button" id="{{despesa.pk}}" onclick="">Editar despesa</button>
        </div>
    </div>
    {% endfor %}
{% endif %}
{%endblock%}
{%block other-content%}
<script>
    let all = document.querySelectorAll("span.valor")
    all.forEach((el)=>{
        let valor = parseFloat(el.innerHTML)
        valor = valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
        el.innerHTML = valor
    })
    document.querySelectorAll(".edit-despesa button").forEach((el)=>{
        el.addEventListener('click',()=>{
            window.location.href = "{% url 'edit_despesa' id=0 %}".replace("0",el.id)
        })
    })
</script>
{%endblock%}