{%extends "includes/base.html"%}
{% load static %}
{%block head-content%}
<link rel="stylesheet" href="{% static 'CDMP_APP/css/style_edit_despesa.css' %}">
{%endblock%}
{%block greater-data%}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Enviar">
</form>
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{%endblock%}