{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CDMP_APP/css/style_login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <title>Casa da Moeda Pessoal</title>
</head>
<body>
    <section class="login">
        <h2>Login</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Login">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
    <section class="cadastrar">
        <h2>Olá, Amigo</h2>
        <p>Crie sua nova conta gratuita, e comece controlar suas finanças de maneira mais divertida</p>
        <a href="{% url 'cadastrar' %}">Cadastrar</a>
    </section>
</body>
</html>