{% extends "includes/base.html"%}
{% load static %}
{%block head-content%}
<link rel="stylesheet" href="{% static 'CDMP_APP/css/style_teto_categoria.css' %}">
{%endblock%}
{%block greater-data%}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{%if form_post%}
<form id="set_category" action="" method="POST">
    {% csrf_token %}
    {%if categoria_texto %}
        <p>{{categoria_texto}}</p>
    {% endif %}
    {{ form }}
    <input type="hidden" value="{{categoria_nome_input_hidden}}" name="categoria">
    <input type="submit" value="enviar">
</form>
{%else%}
<form id="set_category" action="" method="GET">
    {% csrf_token %}
    {%if categoria_texto %}
        <p>{{categoria_texto}}</p>
    {% endif %}
    {{ form }}
    <input type="submit" value="enviar">
</form>
{% endif%}

{%endblock%}
{%block other-content%}
<script>
    // document.getElementById("mensal").checked=true
    // function toogle_form(){
    //     let mensal = document.getElementById("mensal").checked
    //     if(mensal){
    //         document.getElementById("form_mes").classList.remove("hide")
    //         document.getElementById("form_geral").classList.add("hide")
    //     }else{
    //         document.getElementById("form_geral").classList.remove("hide")
    //         document.getElementById("form_mes").classList.add("hide")
    //     }
    // }
    // toogle_form()
    // document.getElementById("mensal").addEventListener("click",(e)=>{
    //     e.checked=true
    //     toogle_form()
    // })
    // document.getElementById("anual").addEventListener("click",(e)=>{
    //     e.checked=true
    //     toogle_form()
    // })
    

</script>
{%endblock%}