{% extends "includes/base.html"%}
{% load static %}
{%block head-content%}
<link rel="stylesheet" href="{% static 'CDMP_APP/css/style_all_despesas.css' %}">
{%endblock%}
{%block greater-data%}
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Enviar">
</form>
{% if despesas%}
    {% include '../includes/table_despesa_request.html' %}
    
{% endif %}
{%endblock%}
{%block other-content%}
<script>
    let all = document.querySelectorAll("p.valor")
    all.forEach((el)=>{
        let valor = parseFloat(el.innerHTML)
        valor = valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
        el.innerHTML = valor
    })
</script>
{%endblock%}