{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'CDMP_APP/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {%block head-content%}{%endblock%}
</head>
<body>
    <nav id="nav" class="navigation sidenav">
        <div class="links">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <h4>Menu</h4>
            <ul>
                <li>
                    <a href="{% url 'index' %}">Home</a> 
                </li>
                <li>
                    <a href="{% url 'sair' %}">Sair</a> 
                </li>
                <li>
                    <a href="{% url 'add_despesa' %}">Adicionar despesa</a>
                </li>
                <li>
                    <a href="{% url 'add_receita' %}">Adicionar receita</a> 
                </li>
                <li>
                    <a href="{% url 'edit_teto' %}">Editar teto de gastos</a>
                </li>
                <li>
                    <a href="{% url 'add_categoria' %}">Cadastrar Categoria</a>
                </li>
                <li>
                    <a href="{% url 'set_teto_categoria' %}">Editar teto de Categoria</a>
                </li>
            </ul>
        </div>
        <div class="links">
            <h4>Despesas</h4>
            <ul>
                <li><a href="{% url 'view_all_gastos' %}">Pesquisar por nome</a>
                </li>
                <li> <a href="{% url 'despesa_por_categoria' %}">Pesquisar por categoria</a>
                </li>
                <li> <a href="{% url 'despesa_por_data' %}">Pesquisar por data</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="greater-data">
        <button class="show-menu" onclick="openNav()">
            <img src="{% static 'CDMP_APP/imgs/menu.png' %}" alt="" srcset="" width="20" height="20">
        </button>
        {%block greater-data%} {%endblock%}
        
    </section>
    <section class="mini-data">
        <h3>Operações recentes</h3>
            <ul class="ultimas-atividades">
                {% if historico_cliente %}
                    {% for historico in historico_cliente %}
                        <li>
                            <a href="{% url 'view_history' id=historico.pk %}" ><p>{{historico.operacao}}</p></a>
                        </li>
                    {% endfor%}
                {%else%}
                    <br>
                    <h4>Nenhuma operação realizada</h4>
                {% endif %}
            </ul>
            <canvas id="monitor"></canvas>
    </section>
    {%block other-content%}{%endblock%}
    <script>
        function openNav() {
        document.getElementById("nav").style.width = "100%";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
        document.getElementById("nav").style.width = "0";
        } 
    </script>
</body>
</html>