<div class="table_despesas">
    {% if despesas %}
        <p>Descrição</p>
        <p>Valor</p>
        <p>Categoria</p>
        <p>Data</p>
        <p>Ação</p>
        <div class="divider"></div>
        {% for despesa in despesas %}
        <p class="align_left">{{despesa.descricao}}</p>
        <p>R$ {{despesa.valor}}</p>
        <p>{{despesa.categoria}}</p>
        <p>{{despesa.data}}</p>
        <p>
            <a href="{{despesa.historico_id}}">Visualizar</a>
        </p>
        <div class="divider"></div>
        {% endfor %}
    {% else %}
        <h2>Nenhuma despesa registrada</h2>
    {% endif%}
</div>