

body section.greater-data > div{
    height: 50%;
    grid-area: div;
}
body section.greater-data{
    height: 100vh;
    grid-template-columns: 3fr;
    grid-template-rows: 70px;
    grid-template-areas: 
    "div div div"
    "form form form";
}

body form{
    grid-area: form;
}

form#form_mes{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #ffffff;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
}

form#form_mes input{
    margin-top: 5px;
}

form#form_mes input[type=number]{
    margin-top: 5px;
    height: 40px;
    appearance: textfield;
}

form#form_mes input[type=number]::-webkit-outer-spin-button,
form#form_mes input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}


form#form_mes label{
    margin-top: 5px;
}

form#form_mes input[type=submit]{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #349dff;
    color: #ffffff;
    border: none;
}

form#form_geral{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    height: 25%;
    width: 30%;
}

form#form_geral *:not(label){
    margin: 5px 0px;
    height: 30px;
}

form#form_geral input[type=number]{
    appearance: textfield;
}
form#form_geral input[type=number]::-webkit-outer-spin-button,
form#form_geral input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
    
}


form#form_geral input[type=submit]{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #349dff;
    color: #ffffff;
    border: none;
}

form#set_category{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #ffffff;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    grid-row: 1/3;
    height: 35%;
}

form#set_category *:not(label){
    margin: 10px 0px;
    height: 30px;
}

form#set_category select{
    margin: 15px 0px;
    width: 100%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding-left: 5px;
}

form#set_category input[type=submit]{
    margin-top: 15px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #349dff;
    color: #ffffff;
    border: none;
}

form#set_category input[type=number]{
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

form.hide{
    display: none !important;
}



@media screen and (max-width: 450px) {
    body section.greater-data{
        height: 100vh;
        
        grid-template-columns: 3fr;
        grid-template-rows: 40px 70px auto;
        grid-template-areas: 
        "nav_menu nav_menu nav_menu"
        "div div div"
        "form form form";
    }
}