section.greater-data{
    display: flex !important;
    flex-direction: column;
}
.edit-despesa button{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-around;
}
form > * {
    margin: 3px 0;
}