

body section.greater-data > div{
    height: 50%;
    grid-area: div;
}
body section.greater-data{
    height: 100vh;
    grid-template-columns: 3fr;
    grid-template-rows: 70px;
    grid-template-areas: 
    "div div div"
    "form form form";
}

body form{
    grid-area: form;
}

form#form_mes{
    display: flex;
    flex-direction: column;
    width: 30%;
}

form#form_mes input[type=submit]{
    margin-top: 10px;
}

form.hide{
    display: none !important;
}

@media screen and (max-width: 450px) {
    body section.greater-data{
        height: 100vh;
        
        grid-template-columns: 3fr;
        grid-template-rows: 40px 70px auto;
        grid-template-areas: 
        "nav_menu nav_menu nav_menu"
        "div div div"
        "form form form";
    }
}