form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    grid-row: 1/4;
    height: 40%;
}

form *:not(label){
    margin: 5px 0px;
}

form input{
    height: 30px;
}

form input[type=submit]{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #349dff;
    color: #ffffff;
    border: none;
}

@media screen and (max-width: 450px) {
    form {
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    form > *{
        margin: 3px 0px;
    }
    body section.greater-data {
    grid-template-rows: 40px 1fr;
    grid-template-areas:
    "nav_menu nav_menu" 
    "user     user    " 
    "dem1     dem1    " 
    "canva_1  canva_1 " 
    "dem2     dem2    ";
    }
}